@charset "UTF-8";
body {
  font-family: "Hiragino Mincho ProN", serif;
}

a {
  color: #227ce8;
}

.content {
  max-width: 640px;
  margin: 3em auto;
}

.content h1 {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.content h1 a {
  color: #111;
  text-decoration: none;
}

.content h2 {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.content h2 a {
  color: #111;
  text-decoration: none;
}

.content h3 {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.content h3 a {
  color: #111;
  text-decoration: none;
}

.content h4 {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.content h4 a {
  color: #111;
  text-decoration: none;
}

.content h1 {
  font-size: x-large;
  margin-bottom: 1em;
}

.content h2 {
  font-size: large;
  margin-top: 3em;
  margin-bottom: 1em;
}

.content h3 {
  color: #777;
  font-size: large;
  margin-top: 2em;
  margin-bottom: 1em;
}

.content p {
  line-height: 1.7em;
  margin: 1.5em 0;
}

.content pre {
  font-size: small;
  background-color: #eeeeee;
  padding: 0.3em;
}

.content .byline {
  margin-bottom: 5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
  font-family: Helvetica, sans-serif;
  color: #777;
}

.content li {
  margin-bottom: 0.5em;
  line-height: 1.7em;
}

.content .listing {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.content .listing li {
  font-size: small;
  list-style: none;
  padding: 0.25em;
  margin: 1em 0;
  color: #777777;
  border-bottom: 1px solid #eee;
}
.content .listing li span {
    float: right;
}
.content .listing a {
  text-decoration: none;
}

.content hr {
  border: 0;
  height: 6px;
  background-image: url("/images/hr.png");
  background-repeat: repeat-x;
  margin: 4em 3em;
}

.footer {
  max-width: 640px;
  margin: 5em auto 2em auto;
  text-align: center;
}

.content img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: 2em auto;
}

.videoframe {
  text-align: center;
}


.content blockquote {
  font-style: italic;
  font-size: 14px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444;
}
   .content blockquote cite:before {
      content: '— '; }
    .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
