@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i');

body {
    margin: 2em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    background: black;
    background-image: url("/images/bg.jpg");
    color: white;
}

a {
    color: #227ce8;
    text-decoration: none;
}

article p {
    line-height: 1.15em;
    font-size: 50pt;
}
