@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body {
    margin: 4em auto 2em auto;
    font-family: 'Bowlby One SC', cursive;
    background: black;
    color: white;
}

a {
    color: #227ce8;
    text-decoration: none;
}

article p {
    line-height: 1.5em;
    font-size: 100pt;
}
