@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:200);

@media screen {
    body {
        max-width: 500px;
        margin: 4em auto 2em auto;
    }
}

@media handheld {
    body {
        margin: 3em 3em 2em 3em;
    }
}

body {
    font-family: 'Terminal Dosis', sans-serif;
    background: white;
}

a {
    color: #227ce8;
    text-decoration: none;
}

header {
    font-size: small;
    text-align: right;
}

article p {
    line-height: 1.5em;
}
